mysqlclient
markdown
pytz
tqdm
requests
django==2.2.13
ldap3
dbfpy
reportlab
pypdf2
beautifulsoup4
pycryptodome
boto3
django-extensions
django-import-export
django-security
django-storages
django-python3-ldap
djangorestframework
django-filter
colorama
sqlalchemy
sqlalchemy-migrate
South
lesscpy
opencv-python
matplotlib
scipy
pyzbar
pillow
qrcode
img2pdf
python-memcached
datedelta
pymongo
python-magic
luigi
gunicorn
awscli
redis
django-redis
django-debug-toolbar
pep8
selenium
ptvsd
django-remote-debug
lxml==4.3.3
bson
pandas==0.24.2
openpyxl==2.6.2
jaconv
gimei
faker
DateTimeRange