.dataTables_wrapper table th {
    background-color: skyblue ;
    white-space: nowrap;
    color: cornsilk;
   
}

.dataTables_wrapper table td {
    white-space: nowrap;
    height: 18px;
    text-align: right;
}

.checkbox_master label {
    margin-left: 30px;
    margin-top: 15px;
}