<h1>{{ question.question_text }}</h1>
 
{% if error_message %}
 
 
<strong>{{ error_message }}</strong>
 
{% endif %}
 
<form action="{% url 'polls:detail' question.id %}" method="post">
    {% csrf_token %}
    {% for choice1 in question.choice_set.all %}
        <input type="radio" name="choice" id="choice1{{ forloop.counter }}" value="{{ choice1.id }}" />
        <label for="choice1{{ forloop.counter }}">{{ choice1.choice_text }}</label>
    {% endfor %}
    <input type="submit" value="Vote" />
</form>